body{
    display: flex;
    align-items: center;
    justify-content: sp;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border: solid 1px black;
    width: 600px;
    height: 600 px;
}